.openStoryWrap {
  background-color: white;
  color: black;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.openStoryTitle {
  font-size: 1.2em;
  display: inline-block;
  width: 55%;
}

.openStoryUsers {
  font-size: 1.2em;
  display: inline-block;
  width: 10%
}

.openStoryJoinWrap {
  display: inline-block;
  text-align: right;
  width: 30%;
  padding-left: 5%;
}
