.createStoryWrap {
  background-color: white;
  color: black;
  border-radius: 5px;
  height: auto;
  margin: 10px;
  padding: 10px;
}

.createStoryInput {
  border: solid black 3px;
  border-radius: 6px;
  height: 50px;
  font-size: 1.3em;
  margin: auto;
  display: block;
  text-align: center;
}

.createTitleInput {
  width: 400px;
}

.createNumberInput {
  width: 60px;
}

.createButtonWrap {
  width: 30%;
  margin: 10px auto;
}