.lineContainer{
  display: table;
  margin: 0px auto;
  width: 70%;
}

.userLine{
  width: auto;
  height: 55px;
  margin: 10px;
  padding: 10px;
  float: left;
  vertical-align: middle;
}

.lineForm{
  margin: 0px auto;
}

.lineInput{
  float: right;
  width: 80%;
  height: 50px;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-bottom: solid 5px white;
  transition: border 0.3s;
  font-size: 18px;
  font-weight: 800;
  background-color: black;
  color: white;
}

.lineInput::placeholder {
  font-size: 18px;
  font-weight: 400;
}

.lineInput:focus,
 .lineInput.focus {
  border-bottom: solid 5px white;
  outline: none;
}