.lobby {
  text-align: left;
  padding: 5px;
}

.lobbyLabels {
  padding: 0px 15px 0px 15px;
}

.storyNames {
  display: inline-block;
  width: 50%;
}

.numberOfUsers {
  display: inline-block;
  width: 20%;
}

.toggleDisplayLink{
  text-align: right;
  display: inline-block;
  width: 25%;
}
a:hover {
  color: #999 !important;
}
