body {
  font-family: helvetica;
  font-weight: 800;
  background-color: black;
  color: white;
  text-align: center;
}

.standardButton {
  font-size: 1.2em;
  font-weight: 800;
  border-radius: 6px;
  text-align: center;
  padding: 14px 30px;
  width: 100%;
  transition: ease-in-out 150ms;
}

.blackButton {
  color: white;
  background-color: black;
  border: 3px solid white;
}

.blackButton:hover {
  color: black;
  background-color: white;
  border: 3px solid black;
}

.whiteButton {
  color: black;
  background-color: white;
  border: 3px solid rgba(0, 0, 0, 0);
}

.whiteButton:hover {
  color: white;
  background-color: black;
  border: 3px solid white;
}