body {
  font-family: helvetica;
  font-weight: 800;
  background-color: black;
  color: white;
  text-align: center;
}

.blackButton {
  color: white;
  background-color: black;
  font-size: 1.2em;
  font-weight: 800;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  text-align: center;
  padding: 14px 30px;
  width: 100%;
}

.whiteButton {
  color: black;
  background-color: white;
  font-size: 1.2em;
  font-weight: 800;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  text-align: center;
  padding: 14px 30px;
  width: 100%;
}
