.navbarWrap {
  color: white;
  height: 80px;
  margin-bottom: 15px;
  background-color: black;
  box-shadow: 3px 3px 0px #d7d7d7;
}

.headerLogo {
  display: inline-block;
  width: 45%;
  text-align: left;
}

.headerLogButton {
  display: inline-block;
  width: 45%;
  text-align: right;
  margin-bottom: 5px;
}

a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
a:active {
  text-decoration: none;
  color: white;
}