.openStoryWrap {
  background-color: white;
  color: black;
  border: solid 1px #d7d7d7;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 3px #d7d7d7;
}

.openStoryTitle {
  font-size: 1.2em;
  display: inline-block;
  width: 55%;
}

.openStoryUsers {
  font-size: 1.2em;
  display: inline-block;
  width: 10%
}

.openStoryJoinWrap {
  display: inline-block;
  text-align: right;
  width: 30%;
  padding-left: 5%;
}
