.signupWrap {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  width: 75%;
  margin: auto;
}

.signupButtonWrap {
  margin: auto;
  width: 30%;
}

.signupInput {
  border: solid black 3px;
  border-radius: 6px;
  height: 50px;
  width: 200px;
  font-size: 1.3em;
}